@custom-media --medium-width (width >= 45rem);
@custom-media --large-width (width >= 55rem);

:root {
  --hue: 20;
  --primary: hsl(var(--hue), 100%, 50%);

  --shade-98: hsl(var(--hue), 90%, 98%);
  --shade-96: hsl(var(--hue), 90%, 96%);
  --shade-90: hsl(var(--hue), 90%, 90%);
  --shade-80: hsl(var(--hue), 90%, 80%);
  --shade-70: hsl(var(--hue), 90%, 70%);
  --shade-60: hsl(var(--hue), 80%, 60%);
  --shade-50: hsl(var(--hue), 80%, 50%);
  --shade-40: hsl(var(--hue), 20%, 40%);
  --shade-30: hsl(var(--hue), 20%, 30%);
  --shade-20: hsl(var(--hue), 20%, 20%);
  --shade-10: hsl(var(--hue), 10%, 10%);

  --bg-light: var(--shade-98);
  --text-dark: var(--shade-10);
  --text-mid: var(--shade-40);
  --text-light: var(--shade-98);

  --section-padding-v: 4rem;
  --section-padding-h: 1.5rem;
}

:root.dark {
  --shade-98: hsl(var(--hue), 90%, 6%);
  --shade-96: hsl(var(--hue), 90%, 8%);
  --shade-90: hsl(var(--hue), 90%, 10%);
  --shade-80: hsl(var(--hue), 90%, 20%);
  --shade-70: hsl(var(--hue), 70%, 30%);
  --shade-60: hsl(var(--hue), 70%, 40%);
  --shade-50: hsl(var(--hue), 70%, 50%);
  --shade-40: hsl(var(--hue), 20%, 60%);
  --shade-30: hsl(var(--hue), 20%, 70%);
  --shade-20: hsl(var(--hue), 20%, 80%);
  --shade-10: hsl(var(--hue), 10%, 90%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  --pattern-circles: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='hsl(20, 80%, 84%)' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: system-ui;
  color: var(--text-dark);
  background-color: var(--shade-90);
  background-image: var(--pattern-circles);
  transition: background-color 0.2s;
}

input,
button,
textarea,
a {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  transition: background-color 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 900;
}

a {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}
